    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 CHIVWATI cha WANA Initiative. Richard Luke, RTC.</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>